.container {
    background: #fff;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 5px 5px 10px rgb(198 198 189);
}

.container img {
    width: 260px;
    height: 260px;
    margin: 0 auto;
    display: block;
}

.container h3 {
    color: #696969;
    margin: 20px 20px 20px;
    text-align: right;
    font-size: 1rem;
}

.container p {
    margin: 0px 25px 0px;
    background-color: green;
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px;
    border-radius: 6px;
}

.counter {
    display: flex;
    align-items: center;
    /* border-top: 1px silver solid ; */
    justify-content: space-evenly;
}

.counter img {
    width: 20px;
    margin: 15px;
    height: fit-content;
    height: fit-content;
    cursor: pointer;
}
.counter span {
    background-color: #1a73e8;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.deactive {
    opacity: 0.3;
}